h2{
	padding:90px 0 13px 0;
}
p.intro_sub{
	font-family: 'Dosis', sans-serif;
	font-size: 0.95rem;
	width: 38%;
}
p.body_header{
	font-size: 1.1rem;
	text-align: justify;
	font-weight: 400;
	text-align: justify;
	width: 58%;
	padding: 70px 0 35px 0;
}
.about_container .about_content{
	width: 50%;
		p.about_body_content{
			font-size: 0.8rem;
			text-align: justify;
			line-height: 1.7;
			width: 45%;
		}
}
.staff_container{
	justify-content: space-between;
	width: 50%;
		.staff{
			width: 30%;
				img{
					height: 100%;
					display: block;
					width: 100%;
				}
			p.staff_name{
				font-family: 'Dosis', sans-serif;
				color: black;
				padding-top: 11px;
				font-size: 0.9rem;
				font-weight: 600;
			}
		}
}

.outer_container{
	
		.about_image{
			width: 60%;
		}
}