.page_about h2{
	padding:90px 0 13px 0;
}
p.intro_sub{
	font-size: 0.8rem;
	width: 38%;
}
p.body_header{
	font-size: 1.1rem;
	text-align: justify;
	font-weight: 400;
	width: 58%;
	padding: 8% 0 4% 0;
}
.about_container {
	justify-content:space-between;
		.about_content{
			width: 47%;
				p.about_body_content{
					font-size: 0.8rem;
					text-align: justify;
					line-height: 1.7;
				}
		}
		.about_image{
			width: 45%;
			position: relative;
			padding-top: 6px;
				.inner_about_image{
					position: relative;
					width: 128%;
					margin-bottom: 90px;
						img{
							width: 100%;
							transition: 0.8s opacity;
								&:focus,&:hover{
									opacity: 0.85;
								}
						}
				}
		}
		.inner_container.flex_container{
			width: 100%;
				.staff_container{
					padding-top: 12%;
					justify-content: space-between;
					width: 100%;
						.staff{
							width: 30%;
								img{
									height: 60%;
									object-fit:cover;
									width: 100%;
									transition: 0.8s opacity;
										&:focus,&:hover{
											opacity: 0.8;
										}
								}
							p.staff_name{
								font-family: 'Dosis', sans-serif;
								color: black;
								padding-top: 11px;
								font-size: 0.9rem;
								font-weight: 600;
							}
						}
				}
		}
}