.contact_image{
	padding-top: 90px;
		img{
			position: fixed;
			background-size: cover;
			opacity: 0.9;
			height: 350px;
			width: 1280px;
		}
}
.contact_container{
	justify-content:space-between;
		
}
