.main{
	width: 100%;
}
p.tagline{
	font-family: 'Dosis', sans-serif;
	font-size: 1.15rem;
	font-weight: 600;
	width: 33%;
	color: black;
	padding:80px 0 80px 0;
}
.home_carousel{
	margin-bottom: 80px;
}
.carousel-cell div {
	width: 450px;
	padding-right: 30px;
}