.tagline {
	width: 45%;
	padding:90px 0;
}
.home_carousel{
	padding-bottom: 90px;
}
.carousel-cell div {
	width: 400px;
	height: 280px;
	padding-right: 30px;
	transition: 0.8s opacity;
		&:focus,&:hover{
			opacity: 0.8;
		}
	img{
		object-fit:cover;
		height: 100%;
	}
}