.blog_container{
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 50px 0;
		.post_item{
			flex: 1 1 30%;
			flex-direction: column;
			padding-bottom: 50px;
				&:nth-child(odd),&:nth-child(even){
					margin-right: calc(30% - 40px);
				}
		}
		
}