main.blog h2{
	margin:90px 0 20px 0;
}
.blog_container{
	margin: 60px 0 90px 0;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
		.post_item{
			width: 28%;
			flex-direction: column;
				.post_image{
					height: 62%;
						img{
							height: 100%;
							object-fit: cover;
							width: 100%;
							transition: 0.6s;
							opacity: 1;
								&:hover, &:focus{
									opacity: 0.8;
							}
						}
				}
				h3.post {
					padding: 20px 0;
						a{
							transition: 0.2s all ease;
						}
				}
				p{
					font-size: 0.75rem;
					padding-bottom: 5px;
				}
		}
}

.blog_menu{
	align-items:baseline;
	margin-top: 5px;
}
.blog_menu>ul.menu{
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
		li{
			padding: 0;
			margin: 0;
			a{
				padding: 0;
				margin: 0;
			}
		}
		.fa{
			font-size: 1rem;
			color: #bbb;
			padding-right: 10px;
			transition: 0.3s all ease;
				&:hover, &:focus{
					color: black;
				}
		}
}