nav{
	display: flex;
	justify-content: space-between;
	align-items:center;
		p{
			font-family: 'Dosis', sans-serif;
			font-size: 1.3rem;
			padding: 30px 0;
			font-weight: 600;
			color: black;
			transition: 0.2s all ease;
				&:hover, &:focus{
					color: #cccccc;
				}
		}
}

//nav toggle button
.toggle_button {
  position: fixed;
  top: 35px;
  right:130px;
  width: 30px;
  height: 30px;
  transition: .25s;
  z-index: 15;
  overflow: hidden;
}
.toggle_button:hover, .toggle_button:focus,{
  cursor: pointer;
}
.toggle_button .menu_bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}
.toggle_button .menu_bar_top {
  border: 3.5px solid #bbb;
  border-bottom: none;
  top: 2px;
}
.toggle_button .menu_bar_middle {
  height: 3.5px;
  background-color: #bbb;
  margin-top: 10px;
}
.toggle_button .menu_bar_bottom {
  border:3.5px solid #bbb;
  border-top: none;
  top: 18px;
}

.button_open .menu_bar_top {
  transform: rotate(45deg) translate(8px, 7.5px);
  transition: .5s;
}
.button_open .menu_bar_middle {
  transform: translate(230px);
  transition: .3s ease-in-out;
  opacity: 1;
}
.button_open .menu_bar_bottom {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: .5s;
}

//end of nav toggle button

.menu_wrap {
	background-color:white;
	position: fixed;
	top: 0;
	right:-260px;
	height: 100vh;
	width: 260px;
	font-size: 1rem;
	overflow: auto;
	transition: 0.3s all ease;
	z-index: 10;
	box-shadow: 1px 1px 5px 2px lightgrey;
}
.menu_show {
	right: 0;
	overflow: hidden;
}

#panel {
	position: relative;
	z-index: 10;
}

nav ul{
	padding-top: 175px;
	background-color: white;
		li{
			font-family: 'Dosis', sans-serif;
			font-size: 1rem;
			padding: 10px 0 10px 40%;
			text-align: left;
				a{
					color: black;
					font-size: 1.5rem;
						&:hover, &:focus{
							color: #ccc;
						}
				}
		}
}