.single{
	justify-content:space-between;
		.column{
			margin-top: 50px;
			width: 70%;
		}
		aside.sidebar{
			margin-top: 50px;
			width: 23%;
				ul{
					background-color: #eee;
					text-align: left;
					padding: 10px 15px;
						li h3.widget-title{
							text-align: left;
						}
				}
		}
}
h2.entry-title{
	padding-top: 90px;
}
.single_post_image{
	max-width: 100%;
		img{
			width: 100%;
			height: 100%;
		}
}