h1,h2,h3,h4{
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
}
h1,h2{
	font-size: 1.9rem;
}
h3{
	color: black;
	font-weight: 600;
	font-size: 1rem;
}
a {
	color: black;
	text-decoration: none;
	&:hover, &:focus {
		color: #cccccc;
	}
}
::selection {
  background: rgba(253,253,150,0.6);
}
::-moz-selection {
  background: rgba(253,253,150,0.6);
}

/* paragraphs */

p {
	font-family: 'Open Sans', sans-serif;
	color: #888888;
	line-height: 1.4;
}
p.body_content{
	font-size: 0.8rem;
	text-align: justify;
}
/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}
.clear {
	width: 100%;
	float: left;
	clear: both;
}